{% extends '_base.html' %}{% load static %}

<html>
  <body>
    {% block content %}
    <div class="container" style="min-height: 60vh">
      <div class="d-flex gap-3 flex-column flex-lg-row">
        <div
          class="d-flex flex-column align-items-center shadow p-3 bg-white rounded gap-3 h-25 ps-5 pe-5"
        >
          <div class="d-flex flex-column align-items-center gap-1">
            <img
              src="{% static 'images/profiles/default-profile.jpg' %}"
              class="rounded-circle align-self-center profile-picture"
              width="80"
              height="80"
            />
            <div class="mt-2 d-flex flex-column">
              <p class="mb-0 fs-5 fw-bold">{{application.applicant.name}}</p>
              <p class="text-secondary">{{application.applicant.email}}</p>
            </div>
          </div>
        </div>
        <div class="w-100">
          <div>
            <p class="fw-bold">Bio</p>
            <p>{{application.applicant.bio}}</p>
          </div>
          <div>
            <p class="fw-bold">
              Why do you think you are the best candidate for this job
            </p>
            <p>{{application.suitability}}</p>
          </div>
          <div>
            <p class="fw-bold">
              Resume/CV link, Please upload your resume on Googledrive / Dropbox
              / Mediafire etc
            </p>
            <p>
              <a href="{{application.resume}}" class="text-decoration-none"
                >{{application.resume}}</a
              >
            </p>
          </div>
          <div>
            <p class="fw-bold">What is your expected salary?</p>
            <p>{{application.expected_salary}}</p>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
