{% extends '_base.html' %} {% load static %}
<html>
  <head>
    {% block title %}
    <title>My company - IAmAvailable</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container mb-5" style="min-height: 50vh">
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex gap-3">
          <img
            src="{% static 'images/default-company-picture.jpg' %}"
            width="200"
            height="200"
            class="rounded company-pic"
          />
          <div>
            <p class="fw-bold fs-4 mb-1">{{company.name}}</p>
            <p>{{company.location}}</p>
            <p class="fst-italic">{{company.description}}</p>
          </div>
        </div>
        <a
          href="{% url 'edit_company' %}"
          class="d-flex align-items-center text-decoration-none gap-1 border border-dark-subtle p-2 ps-3 pe-3 rounded align-self-start"
        >
          <i class="fa-solid fa-pen-to-square"></i>
          <p class="mb-0 fw-bold icon-label">edit</p>
        </a>
      </div>
      <div class="d-flex justify-content-center">
        <a
          href='{% url "create_job" %}'
          style="border-radius: 2rem"
          class="text-decoration-none border-0 p-2 fw-bold text-white bg-dark mt-3 mb-3 fs-5 w-100 text-center"
          >Add a new job</a
        >
      </div>
      <div class="d-flex gap-3">
        <ul class="list-unstyled w-100">
          {% for job in jobs %}
          <li class="shadow-sm p-3 mb-5 bg-white rounded">
            <div class="d-flex justify-content-between">
              <a
                href="{% url 'get_job' job.id %}"
                class="text-decoration-none fw-bold fs-4"
              >
                {{ job.title }}
              </a>
              <div class="d-flex gap-2">
                <a
                  href="{% url 'edit_job' job.id %}"
                  class="d-flex align-items-center text-decoration-none gap-1 border border-dark-subtle p-2 ps-3 pe-3 rounded align-self-start"
                >
                  <i class="fa-solid fa-pen-to-square"></i>
                  <p class="mb-0 fw-bold icon-label">edit</p>
                </a>
                <button
                  class="d-flex align-items-center gap-1 border border-dark-subtle p-2 ps-3 pe-3 rounded align-self-start text-danger bg-transparent delete-btn"
                  data-id="{{job.id}}"
                >
                  <i class="fa-solid fa-trash"></i>
                  <p class="mb-0 fw-bold icon-label">delete</p>
                </button>
              </div>
            </div>
            <div class="d-flex gap-3 mb-3 mt-2 job-details">
              <div class="d-flex gap-2 align-items-center">
                <i class="fa-solid fa-chart-column text-black-50"></i>
                {{ job.experience }}
              </div>
              <p class="mb-0 fw-bold text-black-50 separator">|</p>
              <div class="d-flex gap-2 align-items-center">
                <i class="fa-solid fa-clock text-black-50"></i>
                <p class="m-0">{{ job.mode }}</p>
              </div>
              <p class="mb-0 fw-bold text-black-50 separator">|</p>
              <div class="d-flex gap-2 align-items-center">
                <i class="fa-solid fa-briefcase text-black-50"></i>
                <p class="m-0">{{ job.model }}</p>
              </div>
            </div>
            <ul class="d-flex gap-2 mb-2 list-unstyled">
              {% for tag in job.tags.all %}
              <li class="bg-light p-2 ps-3 pe-3" style="border-radius: 1.2rem">
                {{tag}}
              </li>
              {% endfor %}
            </ul>
            <p>{{ job.description|truncatechars:300 }}</p>
            <p style="font-size: 0.9rem">{{ job.timesince }} ago</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="hidden delete-popup">
        <div
          class="d-flex justify-content-center align-items-center flex-column position-absolute top-50 start-50 translate-middle bg-white p-5 rounded shadow bg-body rounded gap-3"
        >
          <div>
            <p class="fw-bold fs-4 mb-1">Are you sure you want to delete?</p>
            <p>this action can't be undone so please be careful</p>
          </div>
          <div>
            <button
              class="border-0 p-2 ps-4 pe-4 fw-bold text-white bg-danger fs-5 rounded confirm-btn me-2"
            >
              Confirm
            </button>
            <button
              class="border-0 p-2 ps-4 pe-4 fw-bold text-white bg-dark fs-5 rounded cancel-btn"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

{% block js %}
<script>
  const deleteBtn = document.querySelector('.delete-btn');
  const confirmBtn = document.querySelector('.confirm-btn');
  const cancelBtn = document.querySelector('.cancel-btn');
  const deletePopup = document.querySelector('.delete-popup');

  deleteBtn.addEventListener('click', () => {
    deletePopup.classList.remove('hidden');
  });

  confirmBtn.addEventListener('click', () => {
    const id = deleteBtn.getAttribute('data-id');
    deleteJob(id);
  });

  cancelBtn.addEventListener('click', () => {
    deletePopup.classList.add('hidden');
  });

  async function deleteJob(id) {
    const requestOptions = {
      method: 'DELETE',
      headers: {
        'X-CSRFToken': getCookie('csrftoken'),
        'Content-Type': 'application/json',
      },
    };

    try {
      const res = await fetch(`/company/delete-job/${id}/`, requestOptions);
      if (res.ok) {
        console.log('Job was deleted successfully');
        window.location.href = '/company/my-company';
      } else {
        console.log('Something wrong happened');
      }
    } catch (err) {
      console.log(err);
    }

    deletePopup.classList.add('hidden');
  }

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + '=') {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>
{% endblock %}
