{% extends '_base.html' %} {% load crispy_forms_tags %}
<html>
  <body>
    {% block content %}
    <div class="container mb-5">
      <form action="" method="POST" class="d-flex flex-column gap-3">
        {% csrf_token %} {{form|crispy }}
        <input
          type="submit"
          value="Publish"
          class="border no-border rounded p-2 fw-bold text-white bg-dark"
        />
      </form>
    </div>
    {% endblock %}
  </body>
</html>

{% block js %}
<script>
      {% comment %} const comp = '{{company}}';
      const companyCont = document.querySelector('#id_company').parentNode;
      document.querySelector('#id_company').remove();
      const company = document.createElement('div');
      company.textContent = comp;
      company.classList.add('form-control');
      companyCont.appendChild(company); {% endcomment %}
  const id = '{{company}}';
  const companies = document.querySelector('#id_company');
  for (const company of companies.children) {
    console.log(company);
    if (company.getAttribute('value') != id) {
      company.remove();
    }
  }
</script>
{% endblock %}
