{% extends '_base.html' %} {% load crispy_forms_tags %}
<html>
  <body>
    {% block content %}
    <div class="container mb-5">
      <form action="" method="POST" class="d-flex flex-column gap-3">
        {% csrf_token %} {{form|crispy }}
        <input
          type="submit"
          value="Publish"
          class="border no-border rounded p-2 fw-bold text-white bg-dark"
        />
      </form>
    </div>
    {% endblock %}
  </body>
</html>

{% block js %}
<script>
  const compCont = document.querySelector('#id_company').parentNode;

  const list = document.createElement('select');
  list.classList.add('select', 'form-control');
  list.name = 'company';
  list.id = 'id_company';
  const option = document.createElement('option');
  option.value = '{{id}}';
  option.textContent = '{{company}}';
  list.appendChild(option);
  compCont.appendChild(list);

  document.querySelector('#id_company').remove();
</script>
{% endblock %}
