{% extends '_base.html' %} {% load crispy_forms_tags %} {% load i18n %} {% load
allauth %} {% load account %}

<html>
  <head>
    {% block title %}
    <title>Password Reset - IAmAvailable</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container mb-5">
      <div class="d-flex justify-content-center">
        <p class="fs-2 fw-bold mt-4">Password Reset</p>
      </div>
      <div>
        {% if user.is_authenticated %} {% include
        "account/snippets/already_logged_in.html" %} {% endif %}
        <p>
          We have sent you an email. If you have not received it please check
          your spam folder. Otherwise contact us if you do not receive it in a
          few minutes.
        </p>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
