{% extends '_base.html' %} {% load static %}
<html>
  <head>
    {% block title %}
    <title>My account - IAmAvailable</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container d-flex flex-column mb-5">
      <div
        class="position-relative align-self-center w-100 d-flex justify-content-center"
      >
        <img
          src="{% static 'images/profiles/default-profile.jpg' %}"
          class="rounded-circle mb-5 profile-picture align-self-center"
          width="160"
          height="160"
        />
      </div>

      <a
        href="{% url 'history' %}"
        class="text-decoration-none p-2 fw-bold text-dark fs-5"
        >History</a
      >

      <a
        href="{% url 'personal-info' %}"
        class="text-decoration-none p-2 fw-bold text-dark fs-5"
        >Edit personal information</a
      >
      <a
        href=" {% url 'logout' %}"
        class="text-decoration-none p-2 rounded d-block fw-bold fs-5"
      >
        Logout
      </a>
      <a
        href=" {% url 'logout' %}"
        class="text-decoration-none p-2 rounded w-100 d-block fw-bold text-danger fs-5"
      >
        Delete my account
      </a>
    </div>
    {% endblock %}
  </body>
</html>
