{% extends '_base.html' %} {% load static %}
<html>
  <head>
    {% block title %}
    <title>My applications - IAmAvailable</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container" style="min-height: 60vh">
      <p class="fw-bold fs-5 mb-1">Applications ({{count}})</p>
      <p class="text-secondary">Jobs you have applied for</p>
      <ul class="list-unstyled">
        {% for application in applications %}
        <li class="shadow-sm p-3 pt-4 pb-4 mb-2 bg-white rounded job-card">
          <a
            href="{% url 'singleApplication' application.id %}"
            class="text-decoration-none fw-bold fs-4"
          >
            {{ application.job.title }}
          </a>
          <p class="fw-bold">{{ application.job.company }}</p>
          <ul class="d-flex gap-2 mb-2 list-unstyled">
            {% for tag in application.job.tags.all %}
            <li class="bg-light p-2 ps-3 pe-3" style="border-radius: 1.2rem">
              {{tag}}
            </li>
            {% endfor %}
          </ul>
          <p>{{ application.job.description|safe|truncatechars_html:100 }}</p>
          <p class="mb-4 fst-italic" style="font-size: 0.9rem">
            {{application.job.timesince }} ago
          </p>
          <p
            class="fw-bold mb-0 {%if application.status == 'Accepted'%}text-success{%elif application.status == 'Rejected'%}text-danger {% else %}text-muted{%endif%}"
          >
            {{application.status}}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endblock %}
  </body>
</html>
