{% extends '_base.html' %}

<html>
  <head>
    {% block title %}
    <title>Notifications - IAmAvailable</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container" style="min-height: 60vh">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <p class="fw-bold fs-5 mb-0">Your notifications ({{count}})</p>
        <p class="mb-0">Mark all as read</p>
      </div>
      <ul class="list-unstyled">
        {% for notification in notifications %}
        <li
          class="d-flex align-items-center justify-content-between mb-2 p-2 pt-3 pb-3 {%if not notificaton.read %}bg-light shadow-sm{%endif%}"
        >
          <div>
            <a
              href='{% url "company_detail" notification.job.company.id %}'
              class="text-decoration-none"
              >{{notification.job.company}}</a
            >
            made a decision about your
            <a
              href="{% url 'job_detail' notification.job.id %}"
              class="text-decoration-none"
              >{{notification.job}}</a
            >
            application
          </div>
          <p class="mb-0 fs-6 text-muted">{{notification.timesince}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endblock %}
  </body>
</html>
