<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles/style.cs" />
  </head>
  <body>
    <div class="container">
      <p class="mt-2">
        <a href="https://iamavailable.net/" class="">IAmAvailable</a>
      </p>
      <p>Hey {{username}},</p>
      <p>
        Welcome to
        <a href="https://iamavailable.net/" class="">IAmAvailable</a>, The 1#
        job board for talented
      </p>
      <p>
        We are glad to have you on our platfrom where you can apply for hundreds
        of jobs that are only available on our platform
      </p>
      <p>Now, you can</p>
      <ul>
        <li>Go to your account</li>
        <li>Browse jobs available on IAmAvailable</li>
        <li>Create a company and hire best talents out there</li>
      </ul>
      <p>Feel free to reach out if you have any questions or feedback.</p>
      <p>IAmAvailable team.</p>
    </div>
  </body>
</html>
