<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles/style.cs" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <p class="mt-2">
        <a
          href="https://iamavailable.net/"
          class="fw-bold fs-4 text-decoration-none text-dark"
          >IAmAvailable</a
        >
      </p>
      <p>Hey there,</p>
      <p>
        Welcome to
        <a href="https://iamavailable.net/" class="text-dark">IAmAvailable</a>,
        The 1# job board for talented
      </p>
      <p>
        We are glad to have you on our platfrom where you can apply for hundreds
        of jobs that are only available on our platform
      </p>
      <p>Now, you can</p>
      <ul>
        <li>Go to your account</li>
        <li>Browse jobs available on IAmAvailable</li>
        <li>Create a company and hire best talents out there</li>
      </ul>
      <p>Feel free to reach out if you have any questions or feedback.</p>
      <p>IAmAvailable team.</p>
    </div>
  </body>
</html>
