{% extends '_base.html' %} {% load crispy_forms_tags %}

<html>
  <head>
    {% block title %}
    <title>Reset password - IAmAvailable</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container" style="min-height: 60vh">
      <p class="fs-2 fw-bold mt-4 mb-0">Password reset complete</p>
      <p>Your password has been set. you may go ahead and login now</p>
      <a href="{% url 'login' %}" class="text-decoration-none"
        ><p class="mt-3 mb-1">Login</p></a
      >
    </div>
    {% endblock %}
  </body>
</html>
