{% extends 'iamavailable/_base.html' %}
<html>
  <body>
    {% block content %}
    <div class="container">
      <a
        href='{% url "home" %}'
        class="d-flex align-items-center text-decoration-none gap-2 border border-dark-50 p-2 rounded mb-3"
        style="width: fit-content"
      >
        <i class="fa-solid fa-arrow-left text-black-50"></i>
        <p class="mb-0 text-black">back</p>
      </a>
      <p class="fw-bold fs-4">{{ job.title }}</p>
      <div class="d-flex gap-3 align-items-center mb-3">
        <p class="mb-0 fw-bold">{{ job.company }}</p>
        <p class="mb-0 fw-bold text-black-50">|</p>
        <div class="d-flex gap-2 align-items-center">
          <i
            class="fa-solid fa-location-dot fa-solid fa-magnifying-glass text-black-50"
          ></i>
          <p class="mb-0">{{ job.location }}</p>
        </div>
        <p class="mb-0 fw-bold text-black-50">|</p>
        <div class="d-flex gap-2 align-items-center">
          <i class="fa-solid fa-money-bill text-black-50"></i>
          <p class="m-0">{{ job.salary }}</p>
        </div>
        <p class="mb-0 fw-bold text-black-50">|</p>
        <div class="d-flex gap-2 align-items-center">
          <i class="fa-solid fa-clock text-black-50"></i>
          <p class="m-0">{{ job.mode }}</p>
        </div>
      </div>
      <p class="mb-4">{{ job.description }}</p>
      {% if user.is_authenticated%}
      <div>
        <p class="fw-bold">To apply, Please send your CV, via</p>
        <ul class="list-unstyled ms-3">
          {% if job.number %}
          <li>
            <div class="d-flex align-items-center gap-2 mb-3">
              <i class="fa-brands fa-whatsapp text-black-50 fs-4"></i>
              <a
                href="https://wa.me/+2{{job.number}}"
                class="mb-0 text-decoration-none"
                >{{ job.number }}</a
              >
            </div>
          </li>
          {% endif %} {% if job.email %}
          <li>
            <div class="d-flex align-items-center gap-2">
              <i class="fa-solid fa-envelope text-black-50 fs-4"></i>
              <a
                href="mailto:{{job.email}}?subject={{job.title}} applicant"
                class="mb-0 text-decoration-none"
                >{{ job.email }}</a
              >
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
      {% else %}
      <a href="{% url 'login' %}" class="text-decoration-none fw-bold"
        >Please login to apply for this position</a
      >
      {% endif %}
    </div>
    {% endblock %}
  </body>
</html>
