{% extends '_base.html' %} {% load crispy_forms_tags %}
<html>
  <head>
    {% block title %}
    <title>{{ job.title }} - IAmAvailable</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container mb-5" style="min-height: 60vh">
      <div
        class="position-absolute start-50 translate-middle-x bg-white p-2 ps-3 pe-3 rounded d-flex align-items-center gap-2 shadow-sm hidden copy-popup"
      >
        <i class="fa-solid fa-circle-check text-success"></i>
        <p class="mb-0">Job link was copied</p>
      </div>
      <div class="d-flex align-items-center justify-content-between mb-3">
        <a
          href='{% url "home" %}'
          class="d-flex align-items-center text-decoration-none gap-2 border border-dark-50 p-2 rounded"
          style="width: fit-content"
        >
          <i class="fa-solid fa-arrow-left text-black-50"></i>
          <p class="mb-0 text-black">back</p>
        </a>
        <div class="d-flex gap-4">
          <button class="border-0 bg-transparent share-btn">
            <i class="fa-solid fa-share-nodes fs-4 text-black-50"></i>
          </button>
          <button class="border-0 bg-transparent save-btn">
            <i
              class="fa-bookmark fs-4 text-black-50 {% if saved %}fa-solid{% else %}fa-regular{% endif %}"
              data-id="{{job.id}}"
            ></i>
          </button>
        </div>
      </div>
      <p class="fw-bold fs-4 mb-1">{{ job.title }}</p>
      <p>
        <a
          href='{% url "company_detail" job.company.id %}'
          class="fw-bold text-decoration-none"
          >{{ job.company }}</a
        >
      </p>
      <div class="d-flex gap-3 mb-3 job-details">
        <div class="d-flex gap-2 align-items-center">
          <i
            class="fa-solid fa-location-dot fa-solid fa-magnifying-glass text-black-50"
          ></i>
          <p class="mb-0">{{ job.location }}</p>
        </div>
        <p class="mb-0 fw-bold text-black-50 separator">|</p>
        <div class="d-flex gap-2 align-items-center">
          <i class="fa-solid fa-chart-column text-black-50"></i>
          <p class="m-0">{{ job.experience }}</p>
        </div>
        <p class="mb-0 fw-bold text-black-50 separator">|</p>
        <div class="d-flex gap-2 align-items-center">
          <i class="fa-solid fa-clock text-black-50"></i>
          <p class="m-0">{{ job.mode }}</p>
        </div>
        <p class="mb-0 fw-bold text-black-50 separator">|</p>
        <div class="d-flex gap-2 align-items-center">
          <i class="fa-solid fa-briefcase text-black-50"></i>
          <p class="m-0">{{ job.model }}</p>
        </div>
        <p class="mb-0 fw-bold text-black-50 separator">|</p>
        <div class="d-flex gap-2 align-items-center">
          <i class="fa-solid fa-money-bill text-black-50"></i>
          <p class="mb-0">{{ job.salary }}</p>
        </div>
      </div>
      <ul class="d-flex gap-2 mb-2 list-unstyled">
        {% for tag in job.tags.all %}
        <li class="bg-light p-2 ps-3 pe-3" style="border-radius: 1.2rem">
          {{tag}}
        </li>
        {% endfor %}
      </ul>
      <p class="fst-italic">Published {{job.timesince}} ago</p>
      <p class="mb-4">{{ job.description }}</p>
      {% if user.is_authenticated%}
      <div>
        <p class="fw-bold">To apply, Please send your CV, via</p>
        <ul class="list-unstyled ms-3">
          {% if job.number %}
          <li>
            <div class="d-flex align-items-center gap-2 mb-3">
              <i class="fa-brands fa-whatsapp text-black-50 fs-4"></i>
              <a
                href="https://wa.me/+2{{job.number}}"
                class="mb-0 text-decoration-none"
                >{{ job.number }}</a
              >
            </div>
          </li>
          {% endif %} {% if job.email %}
          <li>
            <div class="d-flex align-items-center gap-2">
              <i class="fa-solid fa-envelope text-black-50 fs-4"></i>
              <a
                href="mailto:{{job.email}}?subject={{job.title}} applicant"
                class="mb-0 text-decoration-none"
                >{{ job.email }}</a
              >
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
      {% if applied %}
      <div>
        <div class="d-flex flex-column gap-2 align-items-center mt-5">
          <i class="fa-solid fa-check fs-3"></i>
          <p class="fw-bold">You have applied for this job</p>
        </div>
        <div>
          <p class="mt-4 fw-bold fs-5">Your application</p>
          <ul class="list-unstyled">
            {% for application in applied %}
            <li>
              <div>
                <p class="fw-bold mb-1">
                  Why do you think you are the best candidate for this job?
                </p>
                <p class="border no-border p-2 rounded">
                  {{application.suitability}}
                </p>
              </div>
              <div>
                <p class="fw-bold mb-1">
                  Resume/CV link, Please upload your resume on Googledrive /
                  Dropbox / Mediafire etc
                </p>
                <p class="border no-border p-2 rounded">
                  <a href="{{application.resume}}" class="text-decoration-none"
                    >{{application.resume}}</a
                  >
                </p>
              </div>
              <div>
                <p class="fw-bold mb-1">What is your expected salary?</p>
                <p class="border no-border p-2 rounded">
                  {{application.expected_salary}}
                </p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <div>
        <form action="" method="POST" class="d-flex flex-column gap-3">
          {% csrf_token %} {{form|crispy }}
          <input
            type="submit"
            value="Apply"
            class="border no-border rounded p-2 fw-bold text-white bg-dark"
          />
        </form>
      </div>
      {% endif %} {% else %}
      <a href="{% url 'login' %}" class="text-decoration-none fw-bold"
        >Please login to apply for this position</a
      >
      {% endif %}
    </div>
    {% endblock %}
  </body>
</html>

{% block js %}
<script>
    const saveBtn = document.querySelector('.save-btn').children[0];
    const shareBtn = document.querySelector('.share-btn');
    const copyPopup = document.querySelector('.copy-popup');

    saveBtn.addEventListener('click', () => {
      if ({{authenticated}}){
        const id = saveBtn.getAttribute('data-id');
        saveJob(id);
      } else {
        return
      }
    });

    function saveJob(id) {
      if (saveBtn.classList.contains('fa-regular')) {
        saveBtn.classList.remove('fa-regular');
        saveBtn.classList.add('fa-solid');
        save('POST', id)
      } else {
        saveBtn.classList.add('fa-regular');
        saveBtn.classList.remove('fa-solid');
        save('DELETE', id)
      }
    }

    shareBtn.addEventListener('click', () => {
      const id = saveBtn.getAttribute('data-id');
      copyTextToClipboard(id);
      }
    );

    function copyTextToClipboard(id) {
      if(navigator.clipboard){
        navigator.clipboard.writeText(`https://iamavailable.net/job/${id}/`).then(function() {
          console.log('Async: Copying to clipboard was successful!');
          copyPopup.classList.remove('hidden')
          setTimeout(() => {
            copyPopup.classList.add('hidden')
        }, 1250);
        }, function(err) {
          console.error('Async: Could not copy text: ', err);
        });
      }
  }

    {% comment %} HELPER FUNCTIONS {% endcomment %}
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    async function save(action, id){
      const requestOptions = {
        method: action,
        headers: {
          'X-CSRFToken': getCookie('csrftoken'),
          'Content-Type': 'application/json',
        },
      };

      try {
        const res = await fetch(`/account/save/${id}/`, requestOptions);
      } catch (err) {
        console.log(err);
      }
    }
</script>
{% endblock %}
