{% extends '_base.html' %}

<html>
  <head>
    {% block title %}
    <title>Frequently asked questions - IAmAvailable</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container" style="min-height: 60vh">
      <div class="d-flex justify-content-between mb-5 gap-4 about-container">
        <div>
          <p class="fw-bold fs-3">FAQ</p>
          <p>
            Here you can find the most asked questions. If you have any question
            other than these, Please feel free to reach out
          </p>
          <div x-data="{openedIndexes: []}">
            {% for faq in faqs %}
            <div class="card mb-2">
              <div
                class="card-header"
                @click="openedIndexes = toggleIndexes(openedIndexes, {{forloop.counter}})"
              >
                <div class="fw-bold p-1 d-flex gap-2" style="cursor: pointer">
                  <span
                    x-text="openedIndexes.includes({{forloop.counter}}) ? '&#11167;' : '&#11166;' "
                  ></span>
                  <p class="mb-0">{{faq.question}}</p>
                </div>
              </div>
              <div
                class="card-body"
                x-show="openedIndexes.includes({{forloop.counter}})"
              >
                <p class="mb-0">{{faq.answer}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

{% block js %}
<script>
  function toggleIndexes(openedIndexes, index) {
    if (!openedIndexes.includes(index)) {
      return [...openedIndexes, index];
    } else {
      return openedIndexes.filter(i => i != index);
    }
  }
</script>
{% endblock %}
