{% extends '_base.html' %}

<html>
  <head>
    {% block title %}
    <title>Frequently asked questions - IAmAvailable</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container" style="min-height: 60vh">
      <div class="d-flex justify-content-between mb-5 gap-4 about-container">
        <div>
          <p class="fw-bold fs-3">FAQ</p>
          <p>
            Here you can find the most asked questions. If you have any question
            other than these, Please feel free to reach out
          </p>
          <div>
            <div>
              <p class="mb-1 fw-bold">What is IAmAvailable?</p>
              <p>
                IAmAvailable is a job board for all talents all over the world,
                it publishes jobs with the best perks to attract high potential
                individuals.
              </p>
            </div>
            <div>
              <p class="mb-1 fw-bold">Is IAmAvailable free to use?</p>
              <p>
                at the moment, IAmAvailable is free for both individuals and
                companies. this may change for companies in the future.
              </p>
            </div>
            <div>
              <p class="mb-1 fw-bold">
                How many jobs I can I apply to on IAmAvailable?
              </p>
              <p>You can apply for as many jobs as you want.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
