{% extends '_base.html' %} {% load static %}
<html>
  <head>
    {% block title %}
    <title>Home - IAmAvailable</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="d-flex flex-column align-items-center">
        <p class="fw-bold fs-1">The 1# job board for talented</p>
        <p class="text-black-50">
          Looking for a job? Here you can find the best jobs locally and
          worldwide
        </p>
      </div>
      <form
        action="{% url 'home' %}"
        method="GET"
        class="d-flex p-3 gap-2 align-items-center justify-content-center mb-4 mt-5 rounded bg-light search-container"
      >
        <div class="position-relative">
          <i
            class="fa-solid fa-magnifying-glass ms-2 text-black-50 position-absolute top-50 translate-middle-y fs-5"
          ></i>
          <input
            type="text"
            name="search_query"
            value="{{search_query}}"
            class="rounded p-2 ps-5 border-0"
            placeholder="Search for a job"
          />
        </div>
        <div class="position-relative">
          <i
            class="fa-solid fa-location-dot fa-solid fa-magnifying-glass ms-2 text-black-50 position-absolute top-50 translate-middle-y fs-5"
          ></i>
          <input
            type="text"
            name="location_query"
            value="{{location_query}}"
            placeholder="City or region"
            class="rounded p-2 ps-5 border-0"
          />
        </div>
        <input
          type="submit"
          value="Search"
          class="border-0 fw-bold p-2 ps-4 pe-4 bg-dark rounded text-white"
        />
      </form>
      <div class="d-flex flex-row-reverse">
        <i class="fa-solid fa-filter text-black-50 fs-4 filter-icon"></i>
      </div>
      {% if jobs %}
      <div class="d-flex gap-3 mb-5 jobs-container">
        <ul class="list-unstyled">
          {% for job in jobs %}
          <li class="shadow-sm p-3 pt-4 pb-4 mb-4 bg-white rounded job-card">
            <a
              href="{% url 'job_detail' job.id %}"
              class="text-decoration-none fw-bold fs-4"
            >
              {{ job.title }}
            </a>
            <p class="fw-bold">{{ job.company }}</p>
            <div class="d-flex gap-3 mb-3 job-details">
              <div class="d-flex gap-2 align-items-center">
                <i
                  class="fa-solid fa-location-dot fa-solid fa-magnifying-glass text-black-50"
                ></i>
                {{ job.location }}
              </div>
              <p class="mb-0 fw-bold text-black-50 separator">|</p>
              <div class="d-flex gap-2 align-items-center">
                <i class="fa-solid fa-chart-column text-black-50"></i>
                {{ job.experience }}
              </div>
            </div>
            <ul class="d-flex gap-2 mb-2 list-unstyled">
              {% for tag in job.tags.all %}
              <li class="bg-light p-2 ps-3 pe-3" style="border-radius: 1.2rem">
                {{tag}}
              </li>
              {% endfor %}
            </ul>
            <p>{{ job.description|truncatechars:300 }}</p>
            <p class="mb-2 fst-italic" style="font-size: 0.9rem">
              {{job.timesince }} ago
            </p>
          </li>
          {% endfor %}
        </ul>

        <div class="shadow-sm p-3 bg-white rounded filter-container">
          <p>Fitler jobs by</p>
          <form
            action="{% url 'home' %}"
            method="GET"
            class="d-flex flex-column gap-2 filter-form mb-3"
          >
            <select
              class="form-select"
              aria-label="Default select example"
              value="{{model_query}}"
              name="model_query"
            >
              <option value="" selected>Job type</option>
              <option value="Onsite">Onsite</option>
              <option value="Hybrid">Hybrid</option>
              <option value="Remote">Remote</option>
            </select>

            <select
              class="form-select"
              aria-label="Default select example"
              value="{{experience_query}}"
              name="experience_query"
            >
              <option value="" selected>Experience level</option>
              <option value="Intern">Intern</option>
              <option value="Junior">Junior</option>
              <option value="Senior">Senior</option>
              <option value="Lead">Lead</option>
            </select>
            <input
              type="submit"
              value="Filter"
              class="border-0 fw-bold p-2 ps-4 pe-4 bg-dark rounded text-white"
            />
            <a
              href=" {% url 'home' %}"
              class="fw-bold p-2 bg-dark rounded text-white text-decoration-none text-center"
              >Cancel</a
            >
          </form>
        </div>
      </div>

      {% if jobs.has_other_pages %}
      <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li
            class="page-item {% if not jobs.has_previous %} disabled {% endif %}"
          >
            <a
              class="page-link"
              href="{% if jobs.has_previous %}?page={{jobs.previous_page_number}}{% endif %} "
              >Previous</a
            >
          </li>
          {% for page in paginator.page_range %}
          <li
            class="page-item {% if page == jobs.number %} active {% endif %}"
            aria-current="{% if page == jobs.number %} page {% endif %}"
          >
            <a href="?page={{page}}" class="page-link">{{page}}</a>
          </li>
          {% endfor %}
          <li class="page-item">
            <a
              class="page-link {% if not jobs.has_next %} disabled {% endif %}"
              href="{% if jobs.has_next %}?page={{jobs.next_page_number}}{% endif %} "
              >Next</a
            >
          </li>
        </ul>
      </nav>
      {% endif %} {% else %}
      <div style="min-height: 30vh">
        <div class="d-flex flex-column align-items-center gap-2 mt-4 mb-5">
          <img
            src="{% static 'images/no-jobs.jpg' %}"
            width="300"
            height="auto"
            class="rounded"
          />
          <p>
            Sorry, we don't have any jobs to display. Stay tuned for future jobs
          </p>
        </div>
      </div>
      {% endif %}
    </div>
    {% endblock %}
  </body>
</html>
{% block js %}
<script>
  const filterBtn = document.querySelector('.filter-icon');
  const filterContainer = document.querySelector('.filter-container');
  filterBtn.addEventListener('click', () => {
    if (filterContainer.style.getPropertyValue('display') == 'none') {
      filterContainer.style.display = 'inline';
    } else {
      filterContainer.style.display = 'none';
    }
  });
</script>
{% endblock %}
