{% extends '_base.html' %}

<html>
  <head>
    {% block title %}
    <title>Terms and conditions - IAmAvailable</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container" style="min-height: 60vh">
      <div class="d-flex justify-content-between mb-5 gap-4 about-container">
        <div>
          <p class="fw-bold fs-3">Terms and conditions.</p>
          By using the Services, you represent and warrant that:
          <ul class="list-unstyled m-2">
            <li>
              (1) all registration information you submit will be true,
              accurate, current, and complete;
            </li>
            <li>
              (2) you will maintain the accuracy of such information and
              promptly update such registration information as necessary;
            </li>
            <li>
              (3) you have the legal capacity and you agree to comply with these
              Legal Terms;
            </li>
            <li>
              (4) you are not a minor in the jurisdiction in which you reside;
            </li>
            <li>
              (5) you will not access the Services through automated or
              non-human means, whether through a bot, script or otherwise;
            </li>
            <li>
              (6) you will not use the Services for any illegal or unauthorized
              purpose; and
            </li>
            <li>
              (7) your use of the Services will not violate any applicable law
              or regulation.
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
